* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.emojhi {
    font-size: 10rem;
    cursor: pointer;
    user-select: none;
}

.closed {
    display: none;
}

.open {
    display: none;
}

.astonish {
    display: none;
}

.flush {
    display: none;
}

.plead {
    display: none;
}

.anguish {
    display: none;
}

.fear {
    display: none;
}

.sad {
    display: none;
}

.cry {
    display: none;
}

.loudCry {
    display: none;
}

.scream {
    display: none;
}

.wink {
    display: none;
}

.heart {
    display: none;
}

.lick {
    display: none;
}

.zanny {
    display: none;
}

.hug {
    display: none;
}

.cold {
    display: none;
}

.hot {
    display: none;
}


.active {
    display: block;
}